@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  @apply bg-panda-dark text-gray-200 font-sans selection:bg-panda-primary selection:text-black;
}

.glass-card {
  @apply bg-panda-card border border-white/5 rounded-xl shadow-2xl backdrop-blur-sm;
}

@theme {
  --color-panda-primary: #f39c12;
  --color-panda-secondary: #e67e22;
  --color-panda-dark: #111111;
  --color-panda-card: #1a1a1a;
}